
.artwimage
    .container
        .row
          .col-lg-4.col-sm-12.benny__article
                    h2.benny__caption Benny Benny
                    p.benny__sub 
                        | Duis dignissim mi ut laoreet mollis. 
                        | Nunc id tellus finibus, eleifend mi vel, maximus justo. 
                        | Lorem ipsum dolor sit amet es omnia. 
                        | Duis dignissim mi ut laoreet mollis.

          .col-lg-4.col-sm-12.benny__col--paddingleftandright-0px
            article.artwimage__maxwidth770px
                figure.artwimage__figure
                    img.artwimage__img(src="../../assets/images/theman2.jpg" alt="Children-raising-hands-in-school-1") 
              
