
.artwimage
    .container
        .row.align-items-center
          .col-xl-5.pt-5   
            article.artwimage__maxwidth770px
                p
                    .artwimage__title CHOOSE
                h3.artwimage__h3 CollegeAmerica&nbsp;529 savings plan
                p.display-4.artwimage__display-4modifier
                    | You trust your doctor with your health and your mechanic with your car. You shouldn&rsquo;t settle for anything less when you&rsquo;re deciding where to invest your money.
                p.display-4.artwimage__display-4modifier
                    | Trusted by more than 1 million families nationwide,&nbsp;CollegeAmerica is the country&rsquo;s largest 529 savings plan,
                    sup 1
                    | &nbsp;with more than $60 billion invested.
                    sup 2

          .col-xl-7.py-3.py-sm-5.py-lg-0
            article.artwimage__maxwidth770px
                figure.artwimage__figure
                    img.artwimage__img(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/photos/Children-raising-hands-in-school-1.jpg" alt="Children-raising-hands-in-school-1") 
                .artwimage__content
                     h4.artwimage__h4
                       | We&apos;re helping more than 2.3 million future students pursue their dreams.
                       sup 3
                     ul.artwimage__ul.list-style-seperated.mb-0.mb-sm-4
                       li.artwimage__li
                         | Any adult who&apos;s a U.S. citizen or legal resident can open a CollegeAmerica&nbsp;529 savings plan, regardless of income.
                       li.artwimage__li
                         | The earnings in a 529 savings plan are exempt from federal taxes if withdrawals are used for qualified expenses. And some states offer tax benefits as well.
                       li.artwimage__li
                         | CollegeAmerica has among the lowest fees in the industry.
                         sup 4
