.benny__bg
    .container
        .benny__content
            .row.justify-content-center
                .col-md-4.col-sm-12.benny__article
                    h2.benny__caption Benny Benny
                    p.benny__p--marginbottom-0px &nbsp;
                    p.benny__sub 
                        | Duis dignissim mi ut laoreet mollis. 
                        | Nunc id tellus finibus, eleifend mi vel, maximus justo. 
                        | Lorem ipsum dolor sit amet es omnia. 
                    p.benny__p--marginbottom-0px &nbsp;
                    img.benny__sign(src="../../assets/images/sign.png")
                .col-md-4.col-sm-12.benny__col--paddingleftandright-0px
                    img.benny__img(src="../../assets/images/theman2.jpg")
            
                    