.benny__bg
    .container
        .benny__content
            .row
                .col-lg-6.benny__article
                    h1 Benny Benny
                    p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque tortor eget mi accumsan accumsan. Etiam commodo diam laoreet, condimentum velit ut, auctor purus. Praesent ac bibendum quam, facilisis aliquet ipsum.
                .col-lg-6.benny__col--paddingleftandright-0px
                    img.benny__img--heightwidth-100percent(src="../../assets/images/theman.jpg")