.benny {
  &__article {
    background-image: url("../../assets/images/gradientbg.png");
    padding: 66px 7%;
    color: white;
  }

  &__p{

    &--marginbottom-0px {
      margin-bottom: 0px;
    }
  }
  &__sub {
    font-family: "roboto";
    font-size: 14px;
    padding: 15px 0px;
  }


  &__sign {
    height: 49px;
    width: 99px;
    
  }

  &__caption {
    font-family: "raleway";
    font-size: 50px;
    font-weight: bold;
  }

  &__content {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__col {
    &--paddingleftandright-0px {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  &__bg {
    //opacity: 0.8;
    background-image: url("../../assets/images/portfoliopattern.png");
    background-position: 0 0;
    background-size: 20px 20px;
    //height: 249px;
    width: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .benny {
    &__article {
      padding: 90px 15% !important;
    }
  }
}
@media (max-width: 575px) {
    .benny {
      &__article {
        padding: 30px 9% !important;
      }
    }
  }
  @media (max-width: 1199px) {
    .benny {
      &__caption {
        font-size: 42px;
      }
      &__sub {
        padding: 4px 0px;
        font-size: 12px;
      }
    }
  }


