.solid {
    background:#ECEBE9;

    &--img-64px {
        height: 64px;
        width: 64px;
    }
    &--paddingtop-8percent {
        padding-top: 8%;
    }

    &__h1 {

        &--width-50percent{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--horizontalalign-center{
        display: flex;
        justify-content: center;
        }
    &__iconrow {
        padding-top: 8%;
        padding-bottom: 8%;
    }


}
 