.solid
    .container
        .row.solid--paddingtop-8percent
            h1.solid__h1--width-50percent.text-center Solid and usable solutions for home and business architecture
        .row.text-center.solid--horizontalalign-center.solid__iconrow
            .col-lg-3
                figure
                    img.solid--img-64px(src="../../assets/images/mouseptr1.jpg")
                    p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .col-lg-3
                figure
                    img.solid--img-64px(src="../../assets/images/hourglass.jpg")
                    p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .col-lg-3
                figure
                    img.solid--img-64px(src="../../assets/images/mouseptr2.jpg")
                    p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit.