.solid
    .container
        .row.solid--paddingtop-8percent
            h1.solid__h1.solid__h1--width-xpercent.text-center Solid and usable solutions for home and business architecture
        .row.text-center.solid--horizontalalign-center.solid__iconrow
            .col-md-3
                figure.solid__iconwrapper
                    img.solid--img-64px(src="../../assets/images/mouseptr1.jpg" alt="")
                    p.solid__iconsub Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .col-md-3
                figure.solid__iconwrapper
                    img.solid--img-64px(src="../../assets/images/hourglass.jpg" alt="")
                    p.solid__iconsub Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .col-md-3
                figure.solid__iconwrapper
                    img.solid--img-64px(src="../../assets/images/mouseptr2.jpg" alt="")
                    p.solid__iconsub Lorem ipsum dolor sit amet, consectetur adipiscing elit.