@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.solid {
    background:#ECEBE9;

    &--img-64px {
        height: 64px;
        width: 64px;
    }
    &--paddingtop-8percent {
        padding-top: 8%;
    }
    &__iconwrapper {
        padding: 14px 10px;
    }

    &__iconsub {
        font-family: roboto;
        font-size: 13px;
        font-weight: bold;
        padding-top: 13px;
    }

    &__h1 {

        font-family: 'raleway';
        font-size: 35px;
        font-weight: bold;

        &--width-xpercent{
            width: 46%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--horizontalalign-center{
        display: flex;
        justify-content: center;
        }
    &__iconrow {
        padding-top: 6%;
        padding-bottom: 6%;
    }


}

@media (max-width:1199px) {

    .solid{

        &__h1 {
            
            &--width-xpercent{
                width: 54%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

}

@media (max-width:991px) {

    .solid{

        &__h1 {
            
            &--width-xpercent{
                width: 75%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

}

@media (max-width:767px) {

    .solid{

        &__h1 {
            
            &--width-xpercent{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

}
 
 