.modalyou {
    background:	#ECEBE9;

    &--padding-0px {
        padding: 0px;

      }

    &__playsvg{
        padding: 6px 22px;
        font-size: 2rem;
        border: 2px solid;
        border-radius: 50%;
    }

    &--paddingyaxis-20px {
        padding: 20px 0px;
    }
    &--paddingtop-20px {
        padding-top: 20px !important;
    }

        &--horizontalalign-center{
        display: flex;
        justify-content: center;
        }
    
}
