nav.navbar.navbar-expand-lg.navbar-light.navbar--bg-transparent
  a.navbar-brand.brand.navbar__brand--marginleft-18px(href='#') 
    span(style={'font-size': '22px', 'font-weight': 'bolder'}) T
    span(style={'font-size': '14px', 'font-weight': 'bold'}) he 
    br
    span(style={'font-size': '30px', 'font-weight': 'bolder'}) A
    span(style={'font-size': '24px', 'font-weight': 'bold'}) rchitect
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
    ul.navbar-nav.navbar__links
      li.nav-item.navbar__links--paddingleftnright-6px.active
        a.nav-link.navbar__links--color-white(href='#')
          | Home
      li.nav-item.navbar__links--paddingleftnright-6px
        a.nav-link.navbar__links--color-white(href='#') Projects
      li.nav-item.navbar__links--paddingleftnright-6px
        a.nav-link.navbar__links--color-white(href='#') Details
      li.nav-item.navbar__links--paddingleftnright-6px
        a.nav-link.navbar__links--color-white(href='#') Story
      li.nav-item.navbar__links--paddingleftnright-6px
        a.nav-link.navbar__links--color-white(href='#') Contact
      li.nav-item.navbar__links--paddingleftnright-6px
        a.nav-link.navbar__links--color-white(href='#') Buy now
     
    