@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');


 .navbar {
     &__br {
        content: "A" !important;
        display: block !important;
        margin-bottom: -20px !important;
     }
     &__brand {
        font-family: 'Raleway';
        color: white !important;
        }

     &__links {
        font-family: 'Raleway';
        font-size: 13px;
        margin-top: -24px;

        &--color-white {
            color: white !important;
        }

        &--paddingleftnright-6px {
            padding-left: 6px;
            padding-right: 6px;
        }
     }

     &--bg-transparent {
         background-color: grey;
     }

     &__brand {

        &--marginleft-18px {
            margin-left: 18px;
        }
     }
 }

 @media (max-width:991px) {
    .navbar {
        &__links {
           margin-top: 0px !important;
           text-align: center;
 }
}
 }