.footer
    .container
        .row.footer--horizontalalign-center.footer--paddingtopnbottom-xpercent
            .col-lg-3
                ul.list-unstyled
                    li.footer__caption Find us here
                    li.footer__li--padding-xpercent
                        a(href="#")
                            img(src="../../assets/images/twitter.png" style={height: '20px', width: '20px'})
                        a(href="#")
                            img(src="")
                        a(href="#")
                            img(src="")
                        a(href="#")
                            img(src="")
            .col-lg-3
                ul.list-unstyled
                    li.footer__caption Contact with us
                    li.footer__li--padding-xpercent Nullam viverra consectetuer quisque cursus et, porttitor risus.
                    li +61 (0) 3 8376 6284
                    li noreply@cursus.com
            .col-lg-3
                ul.list-unstyled
                    li.footer__caption Localization
                    li.footer__li--padding-xpercent  
                        address 
                            | Nullam
                            br
                            | Level 13, 2 Elizabeth
                            br
                            | Victoria 3000
                            br
                            | Australia

