.footer
    .container
        .row.footer--horizontalalign-center.footer--paddingtopnbottom-xpercent
            .col-lg-3
                ul.list-unstyled
                    li.footer__caption Find us here
                    li
                        a(href="#" style={'padding-left': '8px'})
                            img(src="../../assets/images/fb.png" style={height: '13px', width: '13px'})
                        a(href="#" style={'padding-left': '8px'})
                            img(src="../../assets/images/google.png" style={height: '13px', width: '13px'})
                        a(href="#" style={'padding-left': '8px'})
                            img(src="../../assets/images/twitter.png" style={height: '13px', width: '13px'})
                        a(href="#" style={'padding-left': '8px'})
                            img(src="../../assets/images/linkedin.png" style={height: '13px', width: '13px'})
            .col-lg-3
                ul.list-unstyled
                    li.footer__caption Contact with us
                    li.footer--fontfamily-roboto
                        | Nullam viverra consectetuer quisque cursus et, porttitor risus.
                    p.footer__p--marginbottom-0px &nbsp;
                    li.footer--fontfamily-roboto +61 (0) 3 8376 6284
                    li.footer--fontfamily-roboto noreply@cursus.com
            .col-lg-3.d-flex
                ul.list-unstyled
                    li.footer__caption Localization
                    li 
                        address.footer--fontfamily-roboto
                            | Nullam
                            br
                            | Level 13, 2 Elizabeth
                            br
                            | Victoria 3000
                            br
                            | Australia
        .row.footer--horizontalalign-center
            .col-lg-9
                p.footer--fontfamily-roboto.footer__p--paddingbottom-16px &#169; 2019 Nullam viverra consectet. All rights reserved.

