.footer {
    background: #ECEBE9;
    color: #777776;

    &--fontfamily-roboto {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
    }

    &--fontsize-0px{
        font-size: 0px;
    }

    &__icon {
        font-size: 20px;
        font-family: font-awesome;
    }
    

    &__p {

        &--paddingbottom-16px {
            padding-bottom: 16px;
        }

        &--marginbottom-0px {
            margin-bottom: 0px;
        }
    }

    &--paddingtopnbottom-xpercent {
        padding-top: 8%;
        padding-bottom: 8%;
    }

    &--horizontalalign-center{
        display: flex;
        justify-content: center;
        }

    &__caption {
        color: #252525;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 33px;
        font-family: 'Raleway';
    }

  
}

@media (max-width:991px) {

    .footer {

        &__caption {
            margin-bottom: 24px; 
        }
      
        &--paddingtopnbottom-xpercent {
            padding-top: 5%;
            padding-bottom: 2%;
        }
    }

}