.footer {
    background: #ECEBE9;

    &--paddingtopnbottom-xpercent {
        padding-top: 10%;
        padding-bottom: 14%;
    }

    &--horizontalalign-center{
        display: flex;
        justify-content: center;
        }

    &__caption {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 8%;
    }

    &__li {

        &--padding-xpercent{
            padding-top: 8%;
            padding-bottom: 8%;
        }
    }
}