.footer
    .container
        .row.footer--horizontalalign-center
            .col-lg-3
                ul.list-unstyled
                    li.footer__caption Find us here
                    li
                        a(href="#")
                        a(href="#")
                        a(href="#")
                        a(href="#")
            .col-lg-3
                ul.list-unstyled
                    li.footer__caption Contact with us
                    li Nullam viverra consectetuer quisque cursus et, porttitor risus.
                    li +61 (0) 3 8376 6284
                    li noreply@cursus.com
            .col-lg-3
                ul.list-unstyled
                    li.footer__caption Localization
                    li   
                        address 
                            | Nullam
                            br
                            | Level 13, 2 Elizabeth
                            br
                            | Victoria 3000
                            br
                            | Australia
            .col-lg-3

