.imagegrid
  h2.imagegrid__caption Our realizations
  .grid-container
    .Big
       img.img-fluid(src="../../assets/images/gridimg3.jpg" alt="")
    .Small
      img.img-fluid(src="../../assets/images/gridimg1.jpg" alt="")
    .Vertical
      img.img-fluid(src="../../assets/images/gridimg2.jpg" alt="")
    .Small2
       img.img-fluid(src="../../assets/images/gridimg4.jpg" alt="")
    .Small3
       img.img-fluid(src="../../assets/images/gridimg5.jpg" alt="")
    .Horizontal
      img.img-fluid(src="../../assets/images/gridimg7.jpg" alt="")
    .Small4
       img.img-fluid(src="../../assets/images/gridimg6.jpg" alt="")
  p &nbsp;
  p &nbsp;
  .imagegrid--textalign-center
    a.imagegrid__a(href="#" style={color: 'white'}) Check out more projects
