.imagegrid
  h2.imagegrid__caption Our realizations
  .grid-container
    .Big
       img.img-fluid(src="../../assets/images/gridimg3.jpg")
    .Small
      img.img-fluid(src="../../assets/images/gridimg1.jpg")
    .Vertical
      img.img-fluid(src="../../assets/images/gridimg2.jpg")
    .Small2
       img.img-fluid(src="../../assets/images/gridimg6.jpg")
    .Small3
       img.img-fluid(src="../../assets/images/gridimg4.jpg")
    .Horizontal
      img.img-fluid(src="../../assets/images/gridimg7.jpg")
    .Small4
       img.img-fluid(src="../../assets/images/gridimg5.jpg")
  p &nbsp;
  p &nbsp;
  .imagegrid--textalign-center
    a.imagegrid__a(href="#") Check out more projects
