

.grid-container {
  width: 60%;
  height: auto;
  margin-left: auto !important;
  margin-right: auto !important;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Small Big Big Small2" "Vertical Big Big Small3" "Vertical Small4 Horizontal Horizontal";
}

.img-fluid {
  width: 100%;
  height: 100%;
}


.Big {
  grid-area: Big;
}

.Small {
  grid-area: Small;
}

.Vertical {
  grid-area: Vertical;
}

.Small2 {
  grid-area: Small2;
}

.Small3 {
  grid-area: Small3;
}

.Horizontal {
  grid-area: Horizontal;
}

.Small4 {
  grid-area: Small4;
}
