.row
  .col-md-6.content__bg
    .content__wrapper
      .content__wrapper.content__article
        h2.content__h2.content__h2--marginbottom-40px(style={color: 'white'}) Let's sit down and talk about your vision
        span
          a.content__link(href="#" style={color: 'white', 'font-size': '12px'}) Contact with us
        
  .col-md-6.col-sm-12.content__col--paddingleftandright-0px
    img(src="../../assets/images/vision.png" alt= "").content__image
    