.row
  .col-md-6.content__bg
    .content__wrapper
      .content__wrapper__article
        h2 Let's sit down and talk about your vision
        span
          a(href="#" style={color: 'white'}) Contact with us
        
  .col-md-6.col-sm-12.content__image
    