extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="homepage.css")

block pageTitle
    title Home Page

block content
    //include ../../components/imagegrid/imagegrid.pug
    //include ../../components/vision/vision.pug
    //include ../../components/old/old.pug
    //include ../../components/benny/benny.pug
    //include ../../components/modal/modal.pug
    //include ../../components/solid/solid.pug
    include ../../components/footer/footer.pug
    //include ../../components/navbar/navbar.pug
  

block pageScripts
    script(src="homepage.js")



