#carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.d-flex.justify-content-around.abc
        li
            ol.carousel-indicators
                li.active
                    a.slider__indicators.slider__indicators--letterspacing-0px.slider__indicators--fontstyle-italic(data-target='#carouselExampleIndicators' data-slide-to='0') 01
                li
                    a.slider__indicators.slider__indicators--letterspacing-0px.slider__indicators--fontstyle-italic(data-target='#carouselExampleIndicators' data-slide-to='1') 02
                li
                    a.slider__indicators.slider__indicators--letterspacing-0px.slider__indicators--fontstyle-italic(data-target='#carouselExampleIndicators' data-slide-to='2') 03
        
        li 
            hr.slider__hr--marginbottom-5rem
       
        li.slider__indicators SEE OUR PORTFOLIO
    
 
    .carousel-inner
      .carousel-item.active
          .row
              .col.slider--padding-0px
                 
                  img.slider__img.d-block.w-100(src='https://data.whicdn.com/images/292132880/large.jpg' alt='...')
                  .carousel-caption.d-none.d-md-block
                     h1.slider__h1 A fresh vision for living spaces
              .col.slider--padding-0px
                  img.slider__img.d-block.w-100(src='https://images.jdmagicbox.com/comp/gurgaon/l7/011pxx11.xx11.190502154051.n4l7/catalogue/nema-development-gurgaon-sector-67-gurgaon-interior-designers-084kr0agyf.jpg' alt='...')
      .carousel-item
          .row
              .col.slider--padding-0px
                  img.slider__img.d-block.w-100(src='https://data.whicdn.com/images/292132880/large.jpg' alt='...')
                  .carousel-caption.d-none.d-md-block
                     h1.slider__h1 A fresh vision for living spaces
              .col.slider--padding-0px
                   img.slider__img.d-block.w-100(src='https://images.jdmagicbox.com/comp/gurgaon/l7/011pxx11.xx11.190502154051.n4l7/catalogue/nema-development-gurgaon-sector-67-gurgaon-interior-designers-084kr0agyf.jpg' alt='...')
      .carousel-item
          .row
              .col.slider--padding-0px
                  img.slider__img.d-block.w-100(src='https://images.jdmagicbox.com/comp/gurgaon/l7/011pxx11.xx11.190502154051.n4l7/catalogue/nema-development-gurgaon-sector-67-gurgaon-interior-designers-084kr0agyf.jpg' alt='...')
                  .carousel-caption.d-none.d-md-block
                     h1.slider__h1 A fresh vision for living spaces
              .col.slider--padding-0px
                  img.slider__img.d-block.w-100(src='https://data.whicdn.com/images/292132880/large.jpg' alt='...')